main {
  justify-content: center;
}

.cart {
  padding: 0 1.15rem;
}

.cart__title {
  font-weight: 700;

  margin-bottom: .5rem;
}

.cart__dishes {
  margin: 1rem 0;
}

.cart__list {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.cart__item {
  border: 1px solid var(--black);
  border-radius: 0.25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;

  padding: 1rem;

  transition: .5s all;
}

.cart__img {
  width: 40%;
  max-width: 250px;
  max-height: 170px;
}

.cart__second-column {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: space-between;

  text-align: end;
}

.cart__name-dish {
  font-weight: 700;

  line-height: 1.15;
}

.cart__price {
  color: var(--green);

  font-weight: 600;
}

.cart__counter {
  display: flex;
  align-items: center;
  justify-content: end;
}

.cart__counter i {
  border: 1px solid var(--black);
  border-radius: .5rem;

  padding: .25rem;

  cursor: pointer;
}

.cart__input-counter {
  border: none;
  outline: none;

  font-size: 1.15rem;
  font-weight: 700;

  width: 30%;

  text-align: center;
}

.cart__list-prices {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cart__item-prices {
  display: flex;
  justify-content: space-between;

  font-size: .825rem;
  font-weight: 500;
}

.cart__value {
  color: var(--green);
  font-size: 1rem;
}

.cart__price-number {
  font-weight: 600;
}

@media (min-width: 768px) {

  .cart__title,
  .cart__quantity-items,
  .cart__name-dish,
  .cart__price {
    font-size: 1.125rem;
  }

  .cart__input-counter {
    width: 15%;
  }
}