.header {
  padding: 1rem 1.15rem;
}

.header__link {
  background-color: #75757521;
  border-radius: 0.5rem;
  color: var(--black);

  display: flex;
  align-items: center;
  gap: .2rem;

  font-size: .95rem;

  padding: .75rem;

  width: min-content;

  text-decoration: none;

  transition: .7s all;

  cursor: pointer;
}

.header__link i {
  font-size: 1.25rem;
}

.header__link:hover {
  background-color: var(--yellow);
}