body {
  background: linear-gradient(to bottom right, var(--yellow) 25%, #dac148);

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;
}

.login {
  background-color: var(--white);
  border-radius: 1rem;
  box-shadow: 20px 20px 60px var(--black);

  padding: 1.5rem;

  width: 100%;
  max-width: 500px;
}

.login__title {
  color: var(--black);

  font-size: 1.5rem;
  font-weight: 700;
}

.login form {
  display: flex;
  flex-direction: column;
  gap: .5rem;

  margin: 1rem 0;
}

.login__div-inputs {
  background-color: #7575753a;
  border: 2px solid transparent;
  border-radius: .5rem;

  display: flex;
  align-items: center;
  gap: .25rem;

  padding: .25rem 1rem;

  transition: .5s border;
}

.login__div-inputs:hover,
.login__div-inputs:has(input:focus) {
  border: 2px solid var(--black);
}

.login__div-inputs i {
  color: #0a0908cc;
}

.login__input {
  background-color: transparent;
  border: 1px solid transparent;
  outline: none;
  border-radius: .5rem;

  padding: .5rem;

  width: 100%;
}

.login__link {
  color: var(--gray);

  display: block;

  font-size: .75rem;

  margin-left: auto;

  text-decoration: none;

  transition: .5s color;
}

form~.login__link {
  font-size: .9rem;
}

.login__link:hover {
  color: var(--black);
}

form input[type="submit"] {
  background-color: transparent;
  border: 1px solid var(--black);
  border-radius: .5rem;

  font-weight: 700;

  padding: .5rem;
  margin-left: auto;

  width: 40%;

  cursor: pointer;
  transition: 1s all;
}

form input[type="submit"]:hover {
  background-color: var(--yellow);
}

.login__error {
  color: red;
  display: block;
  font-size: .75rem;
}